* {
    box-sizing: border-box;
    margin: 0;
    font-family: lato, sans-serif;

}
/* body {
    position: absolute;
} */
span.tables {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    /* vertical-align: middle; */
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.2em;
}
span.date{
    display: block;
}

table {
    width: 25em;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
td {
    vertical-align: middle;
    text-align: center;
}

h1{
    margin: .5em;
    text-align: center;
    font-weight: bold;
}
td[colspan="3"] {
    /* display: inline-block; */
    color: white;
    background-color: black;
    font-weight: bold;
}

img {
    margin-top: 0.7em;
}
a {
    font-size: 0.8em;
}

footer {
    width: 100vw;
    text-align: center;
    color: rgb(80, 80, 80);
    margin-bottom: 0.2em;
}
